body {
    background-color: tan;
    text-align: center;
    line-height: 20px;
    font-family: fantasy;
}

header {
    text-align: center;
    line-height: 20px;
}

.left{
    text-align: left;
}

.dark{
    background-color: rgb(167, 143, 112);
}

.tight{
    line-height: 10px;
}