body {
    background-color: tan;
    text-align: center;
    line-height: 20px;
    font-family: fantasy;
}

header {
    text-align: center;
    line-height: 20px;
}
h1 {
    font-size: 70px;
}
p {
    text-align: left;
}
li {
    text-align: left;
}

#left{
    text-align: left;
}