*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root{
    --purple: #272262;
    --pink: #ff216e;
    --white: #e8e8e8;
    --yellow: #ffdb02;
    --orange: #ff5401;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #272262;
}

h1{
    font-weight: bold;
    font-size: 4rem;
}

header{
    position: sticky;
    top: 0;
    width: 100%;
    height: 2.5rem;
    background-color: var(--purple);
    color: var(--white);
}

ul{
    list-style-type: none;
}
li{
    float: left;
    padding-left: 3%;
    padding-top: 1.6%;
}

.menu-link{
    font-size: 0.8rem;
    text-transform: uppercase;
}
.active{
    color: var(--yellow);
}
.login-btn{
    float: right;
    padding-right: 3%;
}

main{
    background-color: var(--pink);
}

section{
    text-align: center;
    height: 400px;
}

#hero{
    background-image: url(./img/bocacodeclass.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


.about{
    background-color: var(--white);
    height: 100%;
}

.about > div{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

article{
    max-width: 45%;
}

footer{
    background-color: var(--orange);
    color: var(--white);
}